# 1. Loading the dataset.

In [1]:
import pandas as pd

df = pd.read_csv('Bias_correction_ucl.csv')
df.describe()

,station,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,LDAPS_CC1,...,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation,Next_Tmax,Next_Tmin
count,7750.000000,7682.000000,7682.000000,7677.000000,7677.000000,7677.000000,7677.000000,7677.000000,7677.000000,7677.000000,...,7677.000000,7677.000000,7677.000000,7752.000000,7752.000000,7752.000000,7752.000000,7752.000000,7725.000000,7725.000000
mean,13.000000,29.768211,23.225059,56.759372,88.374804,29.613447,23.512589,7.097875,62.505019,0.368774,...,0.485003,0.278200,0.269407,37.544722,126.991397,61.867972,1.257048,5341.502803,30.274887,22.932220
std,7.211568,2.969999,2.413961,14.668111,7.192004,2.947191,2.345347,2.183836,33.730589,0.262458,...,1.762807,1.161809,1.206214,0.050352,0.079435,54.279780,1.370444,429.158867,3.128010,2.487613
min,1.000000,20.000000,11.300000,19.794666,58.936283,17.624954,14.272646,2.882580,-13.603212,0.000000,...,0.000000,0.000000,0.000000,37.456200,126.826000,12.370000,0.098475,4329.520508,17.400000,11.300000
25%,7.000000,27.800000,21.700000,45.963543,84.222862,27.673499,22.089739,5.678705,37.266753,0.146654,...,0.000000,0.000000,0.000000,37.510200,126.937000,28.700000,0.271300,4999.018555,28.200000,21.300000
50%,13.000000,29.900000,23.400000,55.039024,89.793480,29.703426,23.760199,6.547470,56.865482,0.315697,...,0.000000,0.000000,0.000000,37.550700,126.995000,45.716000,0.618000,5436.345215,30.500000,23.100000
75%,19.000000,32.000000,24.900000,67.190056,93.743629,31.710450,25.152909,8.032276,84.223616,0.575489,...,0.018364,0.007896,0.000041,37.577600,127.042000,59.832400,1.767800,5728.316406,32.600000,24.600000
max,25.000000,37.600000,29.900000,98.524734,100.000153,38.542255,29.619342,21.857621,213.414006,0.967277,...,21.621661,15.841235,16.655469,37.645000,127.135000,212.335000,5.178230,5992.895996,38.900000,29.800000

In [2]:
df.head()

,station,Date,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,...,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation,Next_Tmax,Next_Tmin
0,1.0,2013-06-30,28.7,21.4,58.255688,91.116364,28.074101,23.006936,6.818887,69.451805,...,0.0,0.0,0.0,37.6046,126.991,212.3350,2.7850,5992.895996,29.1,21.2
1,2.0,2013-06-30,31.9,21.6,52.263397,90.604721,29.850689,24.035009,5.691890,51.937448,...,0.0,0.0,0.0,37.6046,127.032,44.7624,0.5141,5869.312500,30.5,22.5
2,3.0,2013-06-30,31.6,23.3,48.690479,83.973587,30.091292,24.565633,6.138224,20.573050,...,0.0,0.0,0.0,37.5776,127.058,33.3068,0.2661,5863.555664,31.1,23.9
3,4.0,2013-06-30,32.0,23.4,58.239788,96.483688,29.704629,23.326177,5.650050,65.727144,...,0.0,0.0,0.0,37.6450,127.022,45.7160,2.5348,5856.964844,31.7,24.3
4,5.0,2013-06-30,31.4,21.9,56.174095,90.155128,29.113934,23.486480,5.735004,107.965535,...,0.0,0.0,0.0,37.5507,127.135,35.0380,0.5055,5859.552246,31.2,22.5

# 2. Data preprocessing

2.1 Deleting rows with missing values

In [3]:
import numpy as np

def delete_missing(df, col_names): # (df, ['arg1', ...., 'argn'])
    new_df_copy = df.copy()
    #mark with NaN value
    new_df_copy = new_df_copy[col_names].replace('?', np.NaN)
    #remowe rows and return
    return new_df_copy.dropna()



df_list_col = list(df.columns.values)
#deleting date col
df_list_col.remove('Date')
#deleting missing
df = delete_missing(df,df_list_col)
df.describe()

,station,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,LDAPS_CC1,...,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation,Next_Tmax,Next_Tmin
count,7588.000000,7588.000000,7588.000000,7588.000000,7588.000000,7588.000000,7588.000000,7588.000000,7588.000000,7588.000000,...,7588.000000,7588.000000,7588.000000,7588.000000,7588.00000,7588.000000,7588.000000,7588.000000,7588.000000,7588.000000
mean,13.014101,29.748366,23.195809,56.724969,88.360823,29.620128,23.511786,7.094097,62.492606,0.368510,...,0.480738,0.275007,0.265373,37.544792,126.99142,61.918136,1.259755,5343.724208,30.241526,22.910820
std,7.217858,2.967401,2.400880,14.626559,7.199456,2.943496,2.342579,2.177034,33.686158,0.262260,...,1.743327,1.146087,1.179661,0.050428,0.07922,54.323529,1.372748,429.782561,3.111807,2.482256
min,1.000000,20.000000,11.300000,19.794666,58.936283,17.624954,14.272646,2.882580,-13.603212,0.000000,...,0.000000,0.000000,0.000000,37.456200,126.82600,12.370000,0.098500,4329.520508,17.400000,11.300000
25%,7.000000,27.800000,21.600000,45.960243,84.203724,27.673756,22.086820,5.675358,37.206201,0.146546,...,0.000000,0.000000,0.000000,37.510200,126.93700,28.700000,0.271300,5001.485717,28.200000,21.300000
50%,13.000000,29.900000,23.400000,55.023199,89.784122,29.709537,23.758249,6.547838,56.898324,0.315706,...,0.000000,0.000000,0.000000,37.550700,126.99500,45.716000,0.618000,5441.987305,30.400000,23.100000
75%,19.000000,32.000000,24.800000,67.115099,93.742725,31.711109,25.155660,8.028960,84.235666,0.574174,...,0.017735,0.007855,0.000017,37.577600,127.04200,59.832400,1.767800,5729.485840,32.600000,24.600000
max,25.000000,37.600000,29.900000,98.524734,100.000153,38.542255,29.619342,21.857621,213.414006,0.967277,...,21.621661,15.841235,16.655469,37.645000,127.13500,212.335000,5.178200,5992.895996,38.900000,29.800000

2.2 One hot encoding

In [4]:
def oneHotEncode(df,colNames):
    for col in colNames:
        if( df[col].dtype == np.dtype('object')):
            dummies = pd.get_dummies(df[col],prefix=col)
            df = pd.concat([df,dummies],axis=1)

            #drop the encoded column
            df.drop([col],axis = 1 , inplace=True)
    return df



print('There were {} columns before encoding categorical features'.format(df.shape[1]))
df = oneHotEncode(df,df_list_col)
print('There are {} columns after encoding categorical features'.format(df.shape[1]))

There were 24 columns before encoding categorical features
There are 24 columns after encoding categorical features

There were no non-numerical cols

2.3 X/y1/y2 split

In [5]:

list_noY1Y2 = df_list_col
list_noY1Y2.remove('Next_Tmax')
list_noY1Y2.remove('Next_Tmin')

X = df[list_noY1Y2]
y1 = df['Next_Tmax']
y2 = df['Next_Tmin']

2.4 Train/Test split

In [6]:
from sklearn.model_selection import train_test_split

X1_train, X1_test, y1_train, y1_test = train_test_split(X, y1, test_size=0.33, random_state=42)
X2_train, X2_test, y2_train, y2_test = train_test_split(X, y2, test_size=0.33, random_state=42)

In [7]:
print('Training data 1 shape : ', X1_train.shape, y1_train.shape)
print('Testing data 1 shape : ', X1_test.shape, y1_test.shape)

print('Training data 2 shape : ', X1_train.shape, y1_train.shape)
print('Testing data 2 shape : ', X1_test.shape, y1_test.shape)

Training data 1 shape :  (5083, 22) (5083,)
Testing data 1 shape :  (2505, 22) (2505,)
Training data 2 shape :  (5083, 22) (5083,)
Testing data 2 shape :  (2505, 22) (2505,)

# 3. Building Network

In [16]:
from keras import models
from keras import layers

model1f = models.Sequential()
model1f.add(layers.Dense(64, activation='relu',
                           input_shape=(X1_train.shape[1],)))
model1f.add(layers.Dense(64, activation='relu'))
model1f.add(layers.Dense(1))
model1f.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])

model2f = models.Sequential()
model2f.add(layers.Dense(64, activation='relu',
                           input_shape=(X2_train.shape[1],)))
model2f.add(layers.Dense(64, activation='relu'))
model2f.add(layers.Dense(1))
model2f.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])

3.2 GridSearch

In [9]:
from sklearn.model_selection import GridSearchCV
from keras.wrappers.scikit_learn import KerasClassifier
import sklearn

def algorithm_pipeline(X_train_data, X_test_data, y_train_data, y_test_data, 
                       model, param_grid, cv=4, scoring_fit='neg_mean_absolute_error',
                       do_probabilities = False):
    gs = GridSearchCV(
        estimator=model,
        param_grid=param_grid, 
        cv=cv, 
        n_jobs=-1, 
        scoring=scoring_fit,
        verbose=2
    )
    fitted_model = gs.fit(X_train_data, y_train_data)
    
    if do_probabilities:
      pred = fitted_model.predict_proba(X_test_data)
    else:
      pred = fitted_model.predict(X_test_data)
    
    return fitted_model, pred

def build_nn1():
    model = models.Sequential()
    model.add(layers.Dense(64, activation='relu',
                           input_shape=(X1_train.shape[1],)))
    model.add(layers.Dense(64, activation='relu'))
    model.add(layers.Dense(1))
    model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
    
    return model

def build_nn2():
    model = models.Sequential()
    model.add(layers.Dense(64, activation='relu',
                           input_shape=(X1_train.shape[1],)))
    model.add(layers.Dense(64, activation='relu'))
    model.add(layers.Dense(1))
    model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
    
    return model

param_grid = {
              'epochs':np.arange(1,20,1),
              }

model1 = KerasClassifier(build_fn = build_nn1, verbose=0)
model1, pred1 = algorithm_pipeline(X1_train, X1_test, y1_train, y1_test, model1, 
                                        param_grid)

model2 = KerasClassifier(build_fn = build_nn2, verbose=0)
model2, pred2 = algorithm_pipeline(X2_train, X2_test, y2_train, y2_test, model2, 
                                        param_grid)

Fitting 4 folds for each of 19 candidates, totalling 76 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done  76 out of  76 | elapsed:  7.8min finished

Fitting 4 folds for each of 19 candidates, totalling 76 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done  76 out of  76 | elapsed:  8.1min finished

In [11]:
print("model 1:")
print(model1.best_score_)
print(model1.best_params_)
print("")
print("model 2: ")
print(model2.best_score_)
print(model2.best_params_)

model 1:
-10.586661420421011
{'epochs': 1}

model 2:
-9.895180011804053
{'epochs': 2}

In [19]:
model1f.fit(X1_train,y1_train,epochs=1,validation_split= 0.2)
model2f.fit(X2_train,y2_train,epochs=2,validation_split= 0.2)

Train on 4066 samples, validate on 1017 samples
Epoch 1/1
4066/4066 [==============================] - 3s 859us/step - loss: 945.1253 - mae: 29.7824 - val_loss: 945.0416 - val_mae: 30.0473
Train on 4066 samples, validate on 1017 samples
Epoch 1/2
4066/4066 [==============================] - 2s 610us/step - loss: 4436.5747 - mae: 64.7831 - val_loss: 4416.3511 - val_mae: 66.1079
Epoch 2/2
4066/4066 [==============================] - 3s 632us/step - loss: 3627.6179 - mae: 59.2735 - val_loss: 3251.3352 - val_mae: 56.7101

# 4. Testing

In [24]:
test_mse_score1, test_mae_score1 = model1f.evaluate(X1_test, y1_test)

2505/2505 [==============================] - 1s 408us/step

In [25]:
test_mse_score2, test_mae_score2 = model1f.evaluate(X2_test, y2_test)

2505/2505 [==============================] - 1s 377us/step

In [26]:
print("model 1 MAE: ")
print(test_mae_score1)
print("model 2 MAE: ")
print(test_mae_score2)

model 1 MAE:
29.896656036376953
model 2 MAE:
37.256778717041016